.item{
 width: 150px;
 padding: 0 .8rem .8rem .8rem;
 background-color: rgb(208, 183, 210);
 border-radius: 30px;
 text-align: center;
 flex-direction: column;
 display: flex;
 margin: auto;
}

.item img{
    margin-top: -3.5rem;
    height: 130px;
    object-fit: contain;
    border-radius: 40px;
}

.item-foot_desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-head_desc p{
    margin: 0;
    margin-bottom: 0.5rem;
}

.item-head_desc{
    text-align: left;
    flex: 1;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display:flex;
    flex-direction: column;
}

.head_desc-name{
    font-weight: 600;
    font-size: 0.5rem;
    flex: 1;
}
.ADD_TO_CART{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 100px;
    padding: .3rem;
    cursor: pointer;
    font-size: .6rem;
    background-color: rgb(65, 7, 69);
    color: #fff;
    margin: 5px;
}
.REMOVE_FROM_CART{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 100px;
    padding: .3rem;
    cursor: pointer;
    font-size: .6rem;
    background-color: rgb(156, 11, 11);
    color: #fff;
    margin: 5px;
}